body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Calendar */

th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

/* Event */
.Event :is(h5, h6) {
  margin-block: 5px;
}

.Event.blue {
  background: #b3cfff;
}
.Event.green {
  background: #c7ffa1;
}
.Event.orange {
  background: #ffe4b3;
}
.Event.red {
  background: #ffb3b3;
}
